layout {
  default_tab_template {
      children
      pane size=1 borderless=true {
          plugin location="zellij:compact-bar" {
              tooltip "F1"
              tooltip_hidden_by_default true
          }
      }
  }
  tab name="dotfiles"
  tab name="notes"
  tab name="lab"
  tab name="cloud"
}
