! Color-scheme : Relic Dark
! Author       : stark <stark@openmailbox.org>

*background: #1D2426
!*background: #77CDF6
!*foreground: #8FA388

! Alternate foreground
!*foreground: #AB9C71
*foreground: #ffffff

*cursorColor: #BE5E1E

!*color0:  #39474A
*color0:  #161c1d
*color1:  #986345
*color2:  #788249
!*color3:  #9B6A46
*color4:  #B2E7D3
*color5:  #B9924A
*color6:  #5d796a
*color7:  #977D5E
*color8:  #4C5F63
*color9:  #B07350
*color10: #869151
*color11: #AF6B42
*color12: #567A6E
*color13: #D69D55
*color14: #668574
*color15: #AB9C71

! vim: ft=xdefaults


!! Font
URxvt.font: xft:Bitstream Vera Sans Mono:pixelsize=16
!URxvt*.font: xft:Hack:Regular:pixelsize=10
! URxvt*.font: xft:Anonymice Powerline:pixelsize=12
! URxvt*.font: xft:DejaVu Sans Mono for Powerline:pixelsize=14
! URxvt*.font: xft:Droid Sans Mono for Powerline:pixelsize=10
! URxvt*.font: xft:Sauce Code Powerline:Light:pixelsize=12

! Decrease letter spacing
URxvt.letterSpace: -1

! Custom settings
URxvt*scrollBar:        false
URxvt.urlLauncher:      firefox
!URxvt*inheritPixmap: true
URxvt*shading:          10

URxvt*cursorBlink:      true

URxvt*perl-ext-common: font-size

! : Bind C-0, C-+ and c-= to activate small, medium, and big front size resp.
! URxvt.keysym.C-0: command:\033]710;-*-dina-medium-r-normal--13-*-*-*-*-*-*-*\007
! URxvt.keysym.C-minus: command:\033]710;-*-dina-medium-r-normal--15-*-*-*-*-*-*-*\007
! URxvt.keysym.C-equal: command:\033]710;-*-dina-medium-r-normal--16-*-*-*-*-*-*-*\007

URxvt.keysym.C-Up: font-size:increase
URxvt.keysym.C-Down: font-size:decrease
URxvt.keysym.C-equal: font-size:reset
! URxvt.keysym.C-slash: font-size:show
