snippet moru "Morgenrunden template"
        ## ${1}
        ?? ${2}
        ++ ${3}
        -- ${4}
        == ${5}

snippet concept "Concept"
        ## Problem

        ## Appetite

        ## Solution

        ## Rabbit holes

        ## No Go's

snippet cont "Daily Contemplation"
        ## Was ist mir nicht gut gelungen


        ## Was ist mir gelungen


        ## Gesundheit


        ## Was nehme ich mir für heute vor?

