return {

	-- Icons
	-- "nvim-tree/nvim-web-devicons",
	{
		"echasnovski/mini.icons",
		opts = {},
		lazy = true,
		specs = {
			{ "nvim-tree/nvim-web-devicons", enabled = false, optional = true },
		},
		init = function()
			package.preload["nvim-web-devicons"] = function()
				-- needed since it will be false when loading and mini will fail
				package.loaded["nvim-web-devicons"] = {}
				require("mini.icons").mock_nvim_web_devicons()
				return package.loaded["nvim-web-devicons"]
			end
		end,
	},

  -- Big file handling
	{
		"LunarVim/bigfile.nvim",
	},

  {{- if eq .install_mode "full" }}
	-- Git related plugins
	{
		"f-person/git-blame.nvim",
		opts = {
			enabled = true,
		},
	},
	{
		"lewis6991/gitsigns.nvim",
		config = function()
			require("gitsigns").setup()
		end,
	},

	------------------
	-- [ MARKDOWN ] --
	------------------

	-- Instant markdown preview
	{ "iamcco/markdown-preview.nvim", build = "cd app && yarn install" },

	-- Color highlighter
	{
		"norcalli/nvim-colorizer.lua",
		config = function()
			require("colorizer").setup()
		end,
	},

	"docteurklein/php-getter-setter.vim",

	{
		"mbbill/undotree",
		config = function()
			vim.api.nvim_set_keymap("n", "<leader>ut", ":UndotreeToggle<cr>", { noremap = true })
		end,
	},

	"imsnif/kdl.vim",

	"NoahTheDuke/vim-just",
  {{- end }}
}
