snippet moru "Morgenrunden template"
        ## ${1}
        ?? ${2}
        ++ ${3}
        -- ${4}
        == ${5}

snippet concept "Concept"
        ## Problem

        ## Appetite

        ## Solution

        ## Rabbit holes

        ## No Go's
